# Custom rules
*.class
.mtj.tmp/
*.jar
*.war
*.ear
*.db
bin/
/data/
/node_modules/
.env
.DS_Store
out/
member_a_guide.md
project_roadmap.md
spring_boot_guide.md
relatorio_implementacao.md
tutorial_equipa.md
walkthrough.md
.cursorrules

# Spring Initializr rules
HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
